/* Define standard variables and values for website */

$tableRows: #FCFCFC;
$fontFamily : 'yekan';
$textColor:#000;
$tableWidth:90%;
$tablePadding:15px;
$border:#ddd;
$mobileFontSize :12px;
$sectionWidth:80%;
$boraderRadius:8px;
$hoverColor:#e9e9e9;
$marginTop:50px;
$formsPadding:0px;
$submitButton:#4CAF50;
$hoverSubmitButton:#45a049;
$resetButton:#dc3545;
$hoverResetButton:#ca3140;


